* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
}

header {
    padding: 10px 20px;
    top: 0;
    position: sticky;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(253, 212, 163, 0.851);
    border-radius: 10px 10px 0 0;
}

.logo {
    width: 150px;
}

.cart {
    font-size: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.cart__container {
    position: fixed;
    width: 1000px;
    height: 600px;
    background-color: rgba(104, 80, 49, 0.96);
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    opacity: 0;
    visibility: hidden;
    padding: 30px;

}

.cart__container_active {
    opacity: 1;
    visibility: visible;
    // display: block;
    transition: .3s;
}

.cart__element {
    display: flex;
    align-items: center;
    color: bisque;
    gap: 0 10px;
    margin: 10px;
    // border-bottom: 1px solid bisque;
    padding-bottom: 10px;
}

.cart__img {
    width: 50px;
}

.cart__title {
    max-width: 250px;
}

.cart__quant-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart__quantEl {
    outline: none;
    background-color: bisque;
    width: 50px;
    font-size: 24px;
}

.cart__quantElItem {
    position: absolute;
    top: -20px;
    width: max-content;
}

.cart__price {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.cart__total-price {
    font-size: 20px;
    color: bisque;
}

.cart__delete {
    padding: 5px 20px;
    margin-left: auto;
}

.products {
    flex-wrap: wrap;
    gap: 0 30px;
    display: flex;
    justify-content: center;
}

.product {
    width: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

.product__thumbnail {
    width: 200px;
}

.product__info {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    // margin-top: auto;
}

.product__title {
    font-size: 20px;
    text-align: center;
}

.product__price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
}

.product__price {
    font-size: 20px;
    font-weight: bold;
}

.product__add-cart {
    padding: 5px 35px;
    border-radius: 5px;
    border-color: silver;
    cursor: pointer;
}

.product__add-cart_active {
    background: rgb(86, 86, 86);
    color: white;
}